<p id="notice"><%= notice %></p>

<p>
  <strong>Venue:</strong>
  <%= @attendee.venue %>
</p>

<p>
  <strong>Band:</strong>
  <%= @attendee.band %>
</p>

<p>
  <strong>Name:</strong>
  <%= @attendee.name %>
</p>

<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
